
    #Camera
    chmod 0660 /dev/camera-sysram
    chmod 0660 /dev/camera-isp
    chmod 0660 /dev/camera-pipemgr
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/kd_camera_flashlight
    chmod 0660 /dev/kd_camera_hw_bus2
    chmod 0660 /dev/FM50AF
    chmod 0660 /dev/CAM_CAL_DRV

    chown system camera /dev/camera-sysram
    chown system camera /dev/camera-isp
    chown system camera /dev/camera-pipemgr
    chown system camera /dev/kd_camera_hw
    chown system camera /dev/kd_camera_flashlight
    chown system camera /dev/kd_camera_hw_bus2
    chown system camera /dev/FM50AF
    chown system camera /dev/CAM_CAL_DRV

    chown system system /dev/RT_Monitor
    chmod 0600 /dev/RT_Monitor

    chown root radio /dev/mt_otg_test
    chmod 0660 /dev/mt_otg_test

    chown system media /dev/MTK_SMI
    chmod 0666 /dev/MTK_SMI
    chown system media /dev/mtk_sched
    chmod 0660 /dev/mtk_sched
    chown system media /dev/ebc
    chmod 0660 /dev/ebc

